iCalendar export with "TRANSP"-flag set to TRANSPARENT

### Current behavior:
exported .ics files are missing the "TRANSP" flag, which defaults to "OPAQUE" and thus indicates as _busy_ when imported in a Calendar. For more information about this flag, see [RFC 5545 Section 3.8.2.7](https://datatracker.ietf.org/doc/html/rfc5545#section-3.8.2.7).

**Example file:**
```
BEGIN:VCALENDAR
PRODID:-//seatsurfing.io//seatsurfing//EN
VERSION:2.0
BEGIN:VEVENT
DTEND;TZID=Europe/Berlin:20260518T165959
DTSTAMP:20260518T124302Z
DTSTART;TZID=Europe/Berlin:20260518T150000
LOCATION:Desk 12\, Sample Floor
SUMMARY:Seat Reservation: Desk 12\, Sample Floor
UID:c049a4c1-b5f6-42ea-b5a9-0e4f3a6f34f8
END:VEVENT
END:VCALENDAR
```


### Expected behavior:
exported .ics files have the "TRANSP" flag set to "TRANSPARENT", thus the event would appear as transparent on busy time searches.
Optionally, users could set the behavior at /preferences.

**Example file:**
```
BEGIN:VCALENDAR
PRODID:-//seatsurfing.io//seatsurfing//EN
VERSION:2.0
BEGIN:VEVENT
DTEND;TZID=Europe/Berlin:20260518T165959
DTSTAMP:20260518T124302Z
DTSTART;TZID=Europe/Berlin:20260518T150000
LOCATION:Desk 12\, Sample Floor
SUMMARY:Seat Reservation: Desk 12\, Sample Floor
TRANSP:TRANSPARENT
UID:c049a4c1-b5f6-42ea-b5a9-0e4f3a6f34f8
END:VEVENT
END:VCALENDAR
```


Thanks @Maxlo158 for reporting this issue and also providing a pull request. The code changes look good any they will be included in the next release. Thanks again 😍